.gameOver{
position:absolute;
height:80px;
width:auto;
align-content: center;
margin:0px;
font-size: 70px;
font-weight:bolder;
animation: myAnim 1.5s forwards ease-out;

    color: #07ff20;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(2,250,27),
                 1px 1px 0 rgb(-3,245,22),
                 2px 2px 0 rgb(-8,240,17),
                 3px 3px 0 rgb(-13,235,12),
                 4px 4px 0 rgb(-18,230,7),
                 5px 5px 0 rgb(-23,225,2),
                 6px 6px 0 rgb(-28,220,0),
                 7px 7px 0 rgb(-33,215,0),
                 8px 8px 0 rgb(-38,210,0),
                 9px 9px 0 rgb(-43,205,0),
                 10px 10px  0 rgb(-48,200,0),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
}

@keyframes myAnim {
    0%{
 transform: translate(200%, 400%)scale(0);
         opacity: 0;
    }
  30% {
 transform: translate(200%, 400%)scale(0.5);
    opacity: 0.5;
  }
    50% {
 transform: translate(200%, 400%) scale(0.7);
    opacity: 0.75;
  }
  100% {
 transform: translate(200%, 400%) scale(1);
    opacity: 1;
  }
  

}

/* for entrance map animation*/

@keyframes ZoomOval {
  0% {
      transform: translate(300%, 100%) rotate(20deg) scale(0);;

    /*transform:scale(0);*/
    opacity: 0;
  }
  20% {
      transform: translate(300%, 100%) rotate(20deg) scale(1);

  /*  transform:scale(1);*/
    opacity: 1;
  }
    80% {
    transform: translate(300%, 100%) rotate(20deg) scale(1);

  /*  transform:scale(1);*/
    opacity: 1;
  }
    100% {
    transform: translate(300%, 100%) rotate(20deg) scale(1);

  /*  transform:scale(1);*/
    opacity: 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  20% {
    transform: translate(20%, 240%);
    opacity: 1;
  }
   80% {
    transform: translate(20%, 240%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}
@keyframes slideInFromLeftLevel {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  20% {
    transform: translate(170%, 350%);
    opacity: 1;
  }
    80% {
    transform: translate(170%, 350%);
    opacity: 1;
  }
    100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

  .oval-animation{
        position:absolute;

    width:150px;
    height:190px;
    background-color: rgba(153, 146, 153);
    border-radius:50%;
    border: solid 2px black;
    animation: ZoomOval 4.8s ease-in-out forwards;
    box-shadow: 5px 5px 15px 5px #000000;
  }

    .mapName-animation{
    position:absolute;
    margin:0px;
    font-size: 60px;
    font-weight:bolder;
    width: fit-content;
    animation: slideInFromLeft 4.5s ease-in-out forwards;
    animation-delay: 0.3s;
    opacity: 0;

    color: #3cad48;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(55,168,67),
                 1px 1px 0 rgb(50,163,62),
                 2px 2px 0 rgb(45,158,57),
                 3px 3px 0 rgb(40,153,52),
                 4px 4px 0 rgb(35,148,47),
                 5px 5px 0 rgb(30,143,42),
                 6px 6px 0 rgb(25,138,37),
                 7px 7px 0 rgb(20,133,32),
                 8px 8px 0 rgb(15,128,27),
                 9px 9px 0 rgb(10,123,22),
                 10px 10px  0 rgb(5,118,17),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);

  }

    .mapLevel-animation{
    position:absolute;
    margin:0px;
    font-size: 60px;
    font-weight:bolder;
    width: fit-content;
    animation: slideInFromLeftLevel 4.5s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
    color: #3cad48;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(55,168,67),
                 1px 1px 0 rgb(50,163,62),
                 2px 2px 0 rgb(45,158,57),
                 3px 3px 0 rgb(40,153,52),
                 4px 4px 0 rgb(35,148,47),
                 5px 5px 0 rgb(30,143,42),
                 6px 6px 0 rgb(25,138,37),
                 7px 7px 0 rgb(20,133,32),
                 8px 8px 0 rgb(15,128,27),
                 9px 9px 0 rgb(10,123,22),
                 10px 10px  0 rgb(5,118,17),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
  }